/*-- scss:defaults --*/

// Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);
$font-family-sans-serif: "Open Sans", Regular Regular, serif !default;
$title-font-size: 5vw !default;
$title-font-weight: 500 !default;
$subtitle-font-size: 3vw !default;
$author-font-size: 2vw !default;
$author-font-weight: 200 !default;

// Images
$img-transition: url("https://dl.boxcloud.com/api/2.0/internal_files/524400474768/versions/555455301168/representations/png_paged_2048x2048/content/1.png?access_token=1!RwOB_Bm_uWxXroK7XGJlSjhfJ3FlZMex-UqSHQyP-wjkGkgV3Y6bEWBjNhoC3AZa9ZsbZ8Xx7i9DX7QVVmolf2GD5Iowh4nkzSen-iYosF4H4y63yLuiCaHhVEfKAoXErmOcWJpqy7lKjj3H1pMjHspzMn8ZYuEe7jOSBKgDFnvxRkd1sgEDNXo94eWp_cswwheriraQqxGS7LEfGxrpbuZS0_he-qjiSyD0R_-Fh0lcggOq34MV5G0qaTMHryMnj1YHF28oyUELjAiv0q50Ylf7i3tH8e5DCPT7IqXLXfYVthCySwhQby9WCEPFSR5UwTgkVzDrtWhQLiZVyL6xBnv8R77ZLSCarmuJeCq36xG10MBvSrQ5TJqp35YHbW1JlNWrX9jw7cEtDyiaQwZWJ2Q5URJu-auxdvITDdDSUdp05ev2JSWBR17J0F6D3aTmPIYxpgO_DC-MVELfzZkMPCchJ7TbhLjaDnTmhxsOSqLDgNxGgJkwyV0z8sVjy0MqUs1uufUPJad2c01NyA7NbKdrI2ONw-z4RR9A3W3fziggPBDtWwL3X8LHFzeEvEqfD2gE4jDrXP2HCtjYB6WcevlLsQIiveot4hRb4UHl2u7SVXnHF_YuYqF9kG4u6XcAfhG7-cYC_gXcuLrl5e_NRT-nRkBogEnBj0PRj28Z0c5quvoJj2sw4Nt1XFP70K0I04GuthRzvaL_Uqtxvk5LNPVzRoai76vfuqJ2InSvELQvKS7bc3CdiQ..&shared_link=https%3A%2F%2Fcmu.app.box.com%2Fs%2Fdq57l57u7pqkjrhcdae6pbuhcx02r29y&box_client_name=box-content-preview&box_client_version=2.102.0");
$img-title: url("https://pbs.twimg.com/media/EU7kD4EWoAAAU-8.jpg");
$img-logo-rgb: url("https://public.boxcloud.com/api/2.0/files/1088131574516/content?preview=true&version=1256720705448&access_token=1!S9Q2Un_pnJdAXCLBXGo0KHaXaqPDx2Bj02gtTs-zBSb1kZ0SdQiA7rQKo6SFV-DnbEQQQbhzg3PjfzF_567sWsDvyZRT6pNHb4BNCJJ9Y5znGNi9EcKOuRq7utYowz-1zFpK9RlGImXRkZ0V9mYfemARQZsfoOXJBAkh1JYUEprCBLbkGaGwYjJgPIoAfRdnYHGqAKb_Rsa4hFqmiFa80FsM097y24iQez5Eb32MSEZ3DLjQ2w4ZKAsrDK9fmmllSdcKgDmwH7wvcydQK6jpLYR-cQOnnOTAEjP9kWXe7ugybpjzCD-UUaDYAmL12DqANes1Rv1TFpGUpf-4_Sv0J27_4fbaHIeT3rHCwziZtWcbtzU4ZSnETnH6-dedkjVxBeGysaaj_vSSebY0MYkwbFXD-sRjwwmd-jxM8aSj1hnnfAoLFaxkOe6X_fkqAnB5eac5RqQhEkOidzsVV5WPnu1HSdJ-hR1oI2iE-2R6M2zR5skiqqLuS00Dadb_KWTugywqHHUoPWWUeOYUbgSf5MmDZa9POkMirpfHR9_rvx_kh1vF1ExFVcDEB9Pnag4_3A..&shared_link=https%3A%2F%2Fcmu.app.box.com%2Fs%2Fcn5s5xubqqu7k8rjjfqn98cm6cb6alni&box_client_name=box-content-preview&box_client_version=2.102.0");
$img-logo-white: url("https://public.boxcloud.com/api/2.0/files/1088126035375/content?preview=true&version=1256726716943&access_token=1!FjxE2oTlCYXSmzBuWUKv8pxGwVq5Wjw4AcASzdQ0YCCaO4OeUNt5WWMWKdV-D_Z9z2bgnJxierA6P2CwK_viczJ6MpoN0AUsuEwyLmcQhLZDJ_7-3kwvGKpJ0qqTn05omBD0AkuCtAkVw-S5wVIBfFm9pB9W8XVsgmpt0Vq0MZ_xA1Do_0MW1uvbaJAJbHmiPQrMvf8XyIuRGQP7N8s6DmufC83pisqlaFaC20s1vsfFGQD1FVCViGsU2epfes4QnhKefaTnwdTcX_SnU2w9u6jF6F6NcXtwh_Y-eMtiLZu7gERV78_OOpG5fsgkczNf-lHz_OAeOKG7ttVH8ZhSAyPOHjvUeDwqMrURA805EyneTFHYg5yohlZP_WqMS9gCgQlX018wTsk-v7bvNIffAA2dm0KBUFI7uUd9K_KXdOQX1CfYWjF5A_B4G7ywAeHMNQwgG1CkQxhLFO8lPNEDk5so5I1EVkm68ndZT90yGcPVDXZuUSRAbMeT2GZD8Xvw-YmrM3TbpHcerAnt3erkkZ4G-7GO-RIt-kmECYQnGTvfmOiSLm6zIA9x6-0WQjighA..&shared_link=https%3A%2F%2Fcmu.app.box.com%2Fs%2Fcn5s5xubqqu7k8rjjfqn98cm6cb6alni&box_client_name=box-content-preview&box_client_version=2.102.0");
$logo-pos: 10% 98% !default;
$logo-size: 20% !default;

// Colors
$body-bg: #ffffff !default;
$body-color: #000000 !default;
$presentation-heading-color: #C41230;
$code-color: #6D6E71;
$link-color:  lighten($code-color, 20%);
$dark-bg-code-color: lighten($code-color, 15%);
$light-bg-code-color: darken($code-color, 15%);


/*-- scss:rules --*/

// DEFAULT
.quarto-light {
    background-image: $img-logo-rgb;
    background-size: $logo-size;
    background-repeat: no-repeat;
    background-position: $logo-pos;
}

.quarto-dark {
    background-image: $img-logo-white;
    background-size: $logo-size;
    background-repeat: no-repeat;
    background-position: $logo-pos;
}

.reveal.has-logo .slide-number {
    bottom: 10px !important;
    right: 10px !important;
    top: unset !important;
    color: $body-color !important;
}

.reveal .progress {
	color: $code-color;
}

.reveal > .backgrounds {
    z-index: -1;
}

// TITLE SLIDE 
.reveal .slide-background.quarto-title-block {
    background-color: $presentation-heading-color;
    background-image: $img-title, $img-logo-white;
    background-size: 120%, $logo-size;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

#title-slide {

    .title, .subtitle, .institute, .quarto-title-authors, .date {
        color: #ffffff !important;
        text-shadow: none;
        text-align: center;
        max-width: 100%;
    }

    .title {
        font-weight: $title-font-weight;
        font-size: $title-font-size;

    }

    .subtitle {
        font-style: italic;
        font-size: $subtitle-font-size;
    }

    .quarto-title-authors {
        font-size: $author-font-size;
        font-weight: $author-font-weight;
        display: block;
    }

}

// TRANSITION SLIDES
.reveal .slide-background.slide.level1 {
    background-color: $presentation-heading-color;
    background-image: $img-transition, $img-logo-white;
    background-size: cover, $logo-size;
    background-position: 50%, $logo-pos;
    background-repeat: no-repeat;
} 

.reveal .slide.level1 > h1 {
    color: #ffffff;
}